<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="./images/border.png" alt="Border" width="400">
    <h1 style="color: red;">----------------------------------------------------------</h1>
    
    <a href="http://localhost:3000/">| Home |</a>
    <a href="http://localhost:3000/roll">Click here to roll |</a>
    <!-- the view goes into body -->
    <div>
        {{{ body }}}
    </div>

    <p>Copyright 2020</p>
</body>
</html>